.features {
  display: flex;
  justify-content: center;
}

.features-image {
  position: relative;
  img {
    width: 100%;
  }

  button {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #393939;
  }
}
