.footer {
  background-color: $dark-gray;
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include small {
    flex-direction: row;
    justify-content: flex-end;
  }

  &__logo {
    display: inline-flex;
    width: 50%;
    height: 25px;
    margin-bottom: 1rem;
    position: relative;
    @include small {
      margin: 0;
    }
  }

  &__text-img-wrapper {
    width: 120px;

    margin: 0 auto;
    @extend .logo__text-img-wrapper;

    img {
      width: 100%;
      display: block;
    }
  }

  &__copyright {
    width: 50%;
    text-align: center;
    color: #8e8e8e;
    @include small {
      display: flex;
      text-align: right;
      align-items: center;
      justify-content: flex-end;
      width: 25%;
      padding-right: 43px;
    }
  }
}
