.row {
  display: flex;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  flex-wrap: wrap;

  &__col {
    padding: 0 1.5rem;
    width: 100%;

    @include tablets {
      &--md-6 {
        width: 50%;
      }
    }
  }
}
