.row {
  display: flex;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  flex-wrap: wrap;

  &__col {
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include atWidth(800px) {
      &--s-6 {
        width: 50%;
      }
    }

    @include tablets {
      &--md-6 {
        width: 50%;
      }

      &--md-3 {
        width: 25%;
      }

      &--md-2 {
        width: 16.6667%;
      }
    }
  }
}
