.section {
  background: #ffffff;
  padding-top: 4.5rem;

  @include atWidth(500px) {
    padding-top: 9.5rem;
  }

  &__header {
    text-align: center;
    padding-bottom: 4rem;
    @include atWidth(500px) {
      padding-bottom: 9rem;
    }
  }

  &__content {
    width: 100%;
    padding-bottom: 5rem;
    @include atWidth(500px) {
      padding-bottom: 10rem;
    }
  }

  &__title {
    font-family: $headingFont;
    color: $dark-gray;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 3.6rem;

    &--white {
      color: #fff;
    }
  }

  &__subtitle {
    font-family: "Lato-Bold", sans-serif;
    margin-bottom: 0;
    &--gray {
      color: #a4a4a4;
    }
  }

  &--dark {
    background-color: $dark-gray;
  }

  &--clients {
    background-color: $dark-gray;
    @include tablets {
      background-image: url("../images/clients-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &--overlay {
    position: relative;
    @include tablets {
      &:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(black, 0.9);
      }
    }

    .container {
      position: relative;
    }
  }
}
