.slider {
  height: calc(100vh - 70px);
  position: relative;
  transition: margin ease-out 0.3s;
  margin-top: 70px;
  @include tablets {
    height: 600px;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: all 0.6s ease;

    &--active {
      display: block;
    }
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__image {
    display: block;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (orientation: landscape) {
      min-width: 100%;
      height: auto;
      min-height: 100%;
    }

    @include tablets {
      min-width: 100%;
      height: auto;
      min-height: 100%;
    }
  }

  &__txt-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-family: $headingFont;
    font-size: 3rem;
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include small {
      margin-top: $m-size;
      margin-bottom: 4rem;
    }
  }

  &__description {
    margin: 0 0 1rem;
    padding: 0 5rem;
    line-height: 1.2;
    color: #fff;

    @include atHeight(600px) {
      margin: 0 0 5rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .btn {
      margin-bottom: 1rem;
      @include small {
        margin-bottom: $m-size;
      }
    }
    @include small {
      flex-direction: row;
      .btn + .btn {
        margin-left: $m-size;
      }
    }
  }

  &__content--active {
    .slider__txt-wrapper {
      animation: fadeIn 0.6s ease-in forwards;
    }
  }

  &__animation {
    position: relative;
    overflow: hidden;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      border-top: calc(50vh - 35px) solid transparent;
      border-bottom: calc(50vh - 35px) solid rgba($dark-brown, 0.5);
      border-right: 50vw solid rgba($dark-brown, 0.5);
      border-left: 49vw solid transparent;
      z-index: 15;
      transform: translateY(100%);
      @include tablets {
        border-top: 300px solid transparent;
        border-bottom: 300px solid rgba($dark-brown, 0.5);
      }
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      border-bottom: calc(50vh - 35px) solid transparent;
      border-top: calc(50vh - 35px) solid rgba(#000, 0.5);
      border-left: 50vw solid rgba(#000, 0.5);
      border-right: 49vw solid transparent;
      z-index: 15;

      @include tablets {
        border-bottom: 300px solid transparent;
        border-top: 300px solid rgba(#000, 0.5);
      }
      transform: translateY(-100%);
    }

    &--close {
      &:after {
        animation: slideCloseRight 0.8s ease forwards;
      }
      &:before {
        animation: slideCloseLeft 0.8s ease forwards;
      }
    }

    &--open {
      &:after {
        animation: slideOpenRight 0.8s ease forwards;
      }
      &:before {
        animation: slideOpenLeft 0.8s ease forwards;
      }
    }
  }

  &__nav {
    &-item {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      z-index: 11;

      &--left {
        left: 3.5rem;
      }

      &--right {
        right: 3.5rem;
      }
    }
    .icon {
      color: #a4a4a4;
      transition: all 0.3s ease;
    }

    &-item:hover .icon {
      color: $red;
    }
  }
}

.header__sticky + .slider {
  margin-top: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideCloseRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOpenRight {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideCloseLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOpenLeft {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
