.slider {
  height: 697px;
  position: relative;
  @include large {
    height: 697px;
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__image {
    display: block;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__txt-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 3rem;
    line-height: 1;
    margin-top: $m-size;
    margin-bottom: 4rem;
  }

  &__title--highlighted {
    color: $red;
  }

  &__description {
    margin: 0 0 5rem;
    padding: 0 5rem;
    line-height: 1.2;
  }

  &__buttons {
    .btn + .btn {
      margin-left: $m-size;
    }
  }

  &__nav {
    .icon {
      display: block;
      position: absolute;
      top: 50%;
      color: #a4a4a4;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        color: $red;
      }

      &--arrow-left {
        left: 3.5rem;
      }

      &--arrow-right {
        right: 3.5rem;
      }
    }
  }
}
