.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin: 5px;
  }

  &__icon {
    width: 45px;
    height: 41px;
    position: relative;
    .icon {
      transition: all ease 0.3s;
    }
    .icon--shape {
      width: 100%;
      height: 100%;
      fill: white;
      overflow: hidden;
    }
    .icon:not(.icon--shape) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      margin: auto;
      fill: $red;
    }

    .icon.icon--facebook {
      left: -2px;
    }
  }

  &__link {
    display: block;

    &:hover {
      .icon--shape {
        fill: $red;
      }
      .icon:not(.icon--shape) {
        fill: white;
      }
    }
  }
}
