.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon--arrow-left {
	font-size:(28/10)*1rem;
	width:(17/28)*1em;
}
.icon--arrow-right {
	font-size:(28/10)*1rem;
	width:(17/28)*1em;
}
.icon--check {
	font-size:(33/10)*1rem;
	width:(33/33)*1em;
}
.icon--device {
	font-size:(31/10)*1rem;
	width:(26/31)*1em;
}
.icon--fire {
	font-size:(39/10)*1rem;
	width:(31/39)*1em;
}
.icon--heart {
	font-size:(21/10)*1rem;
	width:(24/21)*1em;
}
.icon--shape {
	font-size:(360/10)*1rem;
	width:(426/360)*1em;
}
