include _mixins
section.section
    .container
        .section__header
            h2.section__title our 
                strong product features
            p.section__subtitle Lorem ipsum dolor sit amet, consectetur <strong> adipiscing elit.</strong> Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
        .section__content
            .features
                .features-image
                    img(src="assets/images/features.png")
                    button.btn  Free PSD