footer.footer
    .footer__logo
        .footer__text-img-wrapper
            | Creativia
            img.footer__logo-image(src="/assets/images/logo-text-gray.png", alt="Creactivia")
    .footer__copyright
        | Design by  Amr Srour        