header.header
    .logo
        <svg class="logo__shape"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="105">
            <polygon points="0,0 250,0 250,40  185,105 65,105 0,40 0,0" />
        </svg>

        .logo__text Creativia
        
