include _mixins
section.quotes.section.section--dark
    .quotes__bg
        +icon('twitter')
    .container
        .section__header
            .quotes__icon-wrap
                +icon('twitter')
            p.quotes__text Lorem ipsum dolor sit amet, consectetur Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
.divider.divider--red
        hr.divider__hr
        +icon('shape')             