doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Creativia
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/assets/styles/main.css")
        script(src="/assets/scripts/vendor.js")
    body
        <!--[if lte IE 10]>
            p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
        <![endif]-->
        .main
            include templates/_header
            include templates/_slider
            include templates/_about
            include templates/_portfolio
            include templates/_features
            include templates/_clients
            include templates/_teamwork
            include templates/_skills
            include templates/_services
            include templates/_plans
            include templates/_quotes
            include templates/_blog
            include templates/_follow
            include templates/_contacts
        script(src="/assets/scripts/main.js")