
<div class="slider">
  <div class="slider__img-wrapper">
    <picture>
      <source media="(min-width: 1380px)" srcset="/assets/images/slides/slide1--large.jpg 1920w"/>
      <source media="(min-width: 970px)" srcset="/assets/images/slides/slide1--medium.jpg 1380w"/>
      <source media="(min-width: 640px)" srcset="/assets/images/slides/slide1--small.jpg 970w"/><img class="slider__image" srcset="/assets/images/slides/slide1--smaller.jpg 640w" alt="creativia"/>
    </picture>
  </div>
  <div class="slider__txt-wrapper">
    <div class="container">
      <div class="slider__txt-content">
        <div class="slider__title">why <span class="slider__title--highlighted">creativia ?</span></div>
        <p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,</p>
        <div class="slider__buttons">
          <button class="btn btn--red">Features</button>
          <button class="btn">Free Psd </button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__nav"><a class="icon icon--arrow-left"></a><a class="icon icon--arrow-right"></a></div>
</div>