
<div class="slider">
  <div class="slider__content slider__content--active">
    <div class="slider__img-wrapper">
      <picture>
        <source media="(min-width: 1380px)" srcset="/assets/images/slides/slide1--large.jpg 1920w"/>
        <source media="(min-width: 970px)" srcset="/assets/images/slides/slide1--medium.jpg 1380w"/>
        <source media="(min-width: 640px)" srcset="/assets/images/slides/slide1--small.jpg 970w"/><img class="slider__image" srcset="/assets/images/slides/slide1--smaller.jpg 640w" alt="creativia"/>
      </picture>
    </div>
    <div class="slider__txt-wrapper">
      <div class="container">
        <div class="slider__title"> why <strong>creativia ?</strong></div>
        <p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,</p>
        <div class="slider__buttons">
          <button class="btn btn--red">Features</button>
          <button class="btn"> Free Psd</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__content">
    <div class="slider__img-wrapper">
      <picture>
        <source media="(min-width: 1380px)" srcset="/assets/images/slides/slide2--large.jpg 1920w"/>
        <source media="(min-width: 970px)" srcset="/assets/images/slides/slide2--medium.jpg 1380w"/>
        <source media="(min-width: 640px)" srcset="/assets/images/slides/slide2--small.jpg 970w"/><img class="slider__image" srcset="/assets/images/slides/slide2--smaller.jpg 640w" alt="creativia"/>
      </picture>
    </div>
    <div class="slider__txt-wrapper">
      <div class="container">
        <div class="slider__title"> why <strong>creativia 2?</strong></div>
        <p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,</p>
        <div class="slider__buttons">
          <button class="btn btn--red">Features</button>
          <button class="btn"> Free Psd</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__content">
    <div class="slider__img-wrapper">
      <picture>
        <source media="(min-width: 1380px)" srcset="/assets/images/slides/slide3--large.jpg 1920w"/>
        <source media="(min-width: 970px)" srcset="/assets/images/slides/slide3--medium.jpg 1380w"/>
        <source media="(min-width: 640px)" srcset="/assets/images/slides/slide3--small.jpg 970w"/><img class="slider__image" srcset="/assets/images/slides/slide3--smaller.jpg 640w" alt="creativia"/>
      </picture>
    </div>
    <div class="slider__txt-wrapper">
      <div class="container">
        <div class="slider__title"> why <strong>not?</strong></div>
        <p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,</p>
        <div class="slider__buttons">
          <button class="btn btn--red">Features</button>
          <button class="btn"> Free Psd</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__content">
    <div class="slider__img-wrapper">
      <picture>
        <source media="(min-width: 1380px)" srcset="/assets/images/slides/slide4--large.jpg 1920w"/>
        <source media="(min-width: 970px)" srcset="/assets/images/slides/slide4--medium.jpg 1380w"/>
        <source media="(min-width: 640px)" srcset="/assets/images/slides/slide4--small.jpg 970w"/><img class="slider__image" srcset="/assets/images/slides/slide4--smaller.jpg 640w" alt="creativia"/>
      </picture>
    </div>
    <div class="slider__txt-wrapper">
      <div class="container">
        <div class="slider__title"> why <strong>not 4?</strong></div>
        <p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,</p>
        <div class="slider__buttons">
          <button class="btn btn--red">Features</button>
          <button class="btn"> Free Psd</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__content">
    <div class="slider__img-wrapper">
      <picture>
        <source media="(min-width: 1380px)" srcset="/assets/images/slides/slide5--large.jpg 1920w"/>
        <source media="(min-width: 970px)" srcset="/assets/images/slides/slide5--medium.jpg 1380w"/>
        <source media="(min-width: 640px)" srcset="/assets/images/slides/slide5--small.jpg 970w"/><img class="slider__image" srcset="/assets/images/slides/slide5--smaller.jpg 640w" alt="creativia"/>
      </picture>
    </div>
    <div class="slider__txt-wrapper">
      <div class="container">
        <div class="slider__title"> why <strong>not 5?</strong></div>
        <p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,</p>
        <div class="slider__buttons">
          <button class="btn btn--red">Features</button>
          <button class="btn"> Free Psd</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__content">
    <div class="slider__img-wrapper">
      <picture>
        <source media="(min-width: 1380px)" srcset="/assets/images/slides/slide6--large.jpg 1920w"/>
        <source media="(min-width: 970px)" srcset="/assets/images/slides/slide6--medium.jpg 1380w"/>
        <source media="(min-width: 640px)" srcset="/assets/images/slides/slide6--small.jpg 970w"/><img class="slider__image" srcset="/assets/images/slides/slide6--smaller.jpg 640w" alt="creativia"/>
      </picture>
    </div>
    <div class="slider__txt-wrapper">
      <div class="container">
        <div class="slider__title"> why <strong>not 6?</strong></div>
        <p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,</p>
        <div class="slider__buttons">
          <button class="btn btn--red">Features</button>
          <button class="btn"> Free Psd</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__nav"><a class="slider__nav-item slider__nav-item--left" href="#">
      <svg class="icon icon--arrow-left " width="30" height="25">
        <use xlink:href="assets/images/sprites/symbol/sprite.svg#arrow-left"></use>
      </svg></a><a class="slider__nav-item slider__nav-item--right" href="#">
      <svg class="icon icon--arrow-right " width="30" height="25">
        <use xlink:href="assets/images/sprites/symbol/sprite.svg#arrow-right"></use>
      </svg></a></div>
</div>