$mainFont: "Lato-Regular", sans-serif;
$headingFont: "Raleway-Bold", sans-serif;

$gray: #505050;
$black: #08080c;
$dark-brown: #131313;
$red: #ff0036;

$s-font: 1.4rem;
$m-font: 1.8rem;
$l-font: 3rem;
